@import "@/assets/styles/variables";
//@import "@/assets/styles/mixins";

.button {
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  border-radius: 50%;
  box-shadow: 0 4px 15px 0 transparentize(#023860, 0.8);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: $blue-hover;
    box-shadow: 0 4px 15px 0 transparentize(#023860, 0.75);

  }
  &:active {
    background-color: $blue-active;
    box-shadow: 0 4px 15px 0 transparentize(#023860, 0.75);
  }
}

.icon {
  fill: $white;
  width: 16px;
  height: 25px;
  display: block;
}
